PORT=8000
# MONGO_URI=mongodb://127.0.0.1:27017/real-estate-advisor
MONGO_URI=mongodb+srv://pkuser:Pradeep%40123@cluster0.psqeh7p.mongodb.net/real-estate-advisor
FLASK_API_URL=http://localhost:5000/predict
CLIENT_URL=http://localhost:5173
JWT_SECRET=replace-with-a-secure-secret
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=726621839018-b56bdnqjajtjar1fm5s8rr6u67gv6au5.apps.googleusercontent.com
